{% extends "base.html" %}

{% block title %}Submit Feedback{% endblock %}

{% block hero_title %}Submit Feedback for {{ course.name }}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">

            <div class="box">
                <h1 class="title is-4">Submit Feedback for {{ course.name }}</h1>
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="field is-hidden">
                        {{ form.course }}
                    </div>

                    <div class="field">
                        <label class="label" for="{{ form.comment.id_for_label }}">Comment</label>
                        <div class="control">
                            <textarea class="textarea" name="comment" id="{{ form.comment.id_for_label }}" rows="4">{{ form.comment.value }}</textarea>
                        </div>
                        {% if form.comment.errors %}
                            <p class="help is-danger">{{ form.comment.errors }}</p>
                        {% endif %}
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-info" type="submit">Submit Feedback</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </section>
{% endblock %}
